/*
    huginn css for www.hom.is
    by frode burdal klevstul
*/

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    w3schools.com's grid view
    - - - - - - - - - - - - - - - - - - - - - - - - -
    https://www.w3schools.com/css/css_rwd_grid.asp
*/

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*
    - - - - - - - - - - - - - - - - - - - - - - - - -
    huginn styling
    - - - - - - - - - - - - - - - - - - - - - - - - -
*/

/*
    main styles - fonts and background
*/

html {
    color:              #03ff49;
    font-family:        "Lucida Console", Monaco, monospace;
}

body {
    background-color:   #000000;
}

p,div,li,center {
    font-size:          3vw;
}

/*
    links
*/

a {
    color:              #03ff49;
}

a:hover {
    background-color:   #ff3399;
}

/*
    headings
*/

h1 {
    color:              #ff3399;
    font-weight:        200;
    font-size:          18vw;
    margin-top:         0px;
    margin-bottom:      0px;
    text-align:         center;
    word-wrap:          break-word;
}

h2 {
    font-size:          8vw;
    margin-top:         0px;
    margin-bottom:      0px;
    text-align:         center;
    word-wrap:          break-word;
}

h3 {
    font-size:          5vw;
    margin-top:         0px;
    margin-bottom:      0px;
    text-align:         center;
    word-wrap:          break-word;
}

h4 {
    font-size:          4vw;
    margin-top:         0px;
    margin-bottom:      0px;
    text-align:         center;
    word-wrap:          break-word;
}

/*
    table
*/

table {
    border:             1px dotted #ff3399;
    font-size:          14px;
    border-collapse:    collapse;
}

th {
  border-bottom:        1px dotted #ff3399;
  padding:              5px;
}

td {
    padding:            5px;
}

/*
    images
*/

img {
    max-width:          100%;
}

.thumbnail {
    height:             10vw;
    max-width:          20vw;
    float:              left;
    border:             1px solid #ff3399;
    border-radius:      5px;
    margin-right:       10px;
}

/*
    header - banner at the top of the page
*/

.header {
    background-color:   #ff3399;
    display:            none;           /* display will be updated to block after the content has loaded */
    font-size:          2vw;
    padding:            10px;
    text-align:         center;
    word-wrap:          break-word;
}

.header_link {
    color:              #000;
    text-decoration:    none;
}

/*
    main & content area - styling of the content that is presented
*/

.main {
    text-align:         left;
    word-wrap:          break-word;
}

.content {
    font-size:          10vw;
    overflow-x:         auto            /* display a horizontal scroll bar if the screen is too small to display the full content */
}

.timestamp {
    font-size:          2vw;
    color:              #ff3399;
}

.ingress {
    font-size:          2vw;
}

/*
    comments
*/

.comments {
    padding-top:        20px;
}

/*
    footer - banner at the bottom of the page
*/

.footer {
    background-color:   #03ff49;
    color:              #000;
    font-size:          1.5vw;
    padding:            10px;
    text-align:         center;
    word-wrap:          break-word;
    display:            none;           /* display will be updated to block after the content has loaded */
}

.footer a {
    color:              #000;
}

/*
    gitlab source link
*/
.gl_src_link {
    font-size:          1.0vw;
    opacity:            0.5;
    text-align:         center;
}

/*
    error
*/
.error {
    color:              #ff3399;
    font-size:          3.5vw;
    padding:            18px;
    text-align:         center;
}

/*
    code & codehilite
    see: https://gitlab.com/klevstul/muninn/issues/100
*/

code,.codehilite {
    font-size:          2vw;
    color:              #ff3399;
    font-family:        monospace;
    white-space:        pre;
}

/*
    screen size adjustments
*/

/* set width to 100% on screens with sizes 600px and smaller  */
@media only screen and (max-width:600px) {
    .main, .content {
        width: 100%;
    }
}

/* hide "hideable" classes on screens with sizes 600px and smaller */
@media only screen and (max-width: 600px) {
    .hideable {
        display: none;
    }
}
